body {
  background-color: black;
  color:cornsilk;
  padding:2% 8%;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid goldenrod;
  min-height: 93vh;
  
}

h1 {
  font-family: "Limelight", sans-serif;
  font-size: 3em;
  margin-bottom: 32px;
  text-shadow: 1.5px 1.5px goldenrod;
}

a {
  color:darkgoldenrod;
}

.radios {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgb(255, 248, 240);
  border-radius: 4px;
  border: none;
}

button[type="submit"] {
  background-color: goldenrod;
  font-size: 1em;
  padding: .75em;
  border-radius: 4px;
  border: none;
  width: 150px;
  
}


button[type="submit"]:active {
  background-color: darkgoldenrod;
}


.nav{
  background-color:goldenrod;
  text-decoration: none;
  padding: .75em;
  margin-right: 10px;
  color:cornsilk;
  border-radius: 4px;
  
}

.selected {
  background-color: rgba(218, 165, 32, .2);
  color: darkgoldenrod;
}

nav {
  margin-bottom: 40px;

}

form {
  margin: 0 65px;
 
}